2.2.Typography        
-----------------------------------------*/
h1, .h1 {
	font-size: 34px;
	line-height: 40px;
}
h2, .h2 {
	font-size: 32px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 28px;
	line-height: 30px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 25px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 16px;
	line-height: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}
#ta-accordion .panel-heading {
	background: #fff;
}
#ta-accordion .panel-heading .panel-title {
	font-size: 14px;
}
#ta-accordion .panel {
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	margin: 0 0 8px;
}
blockquote {
	position: relative;
	width: 100%;
	border-width: 0 0 0 5px;
	border-style: solid;
}
blockquote::before {
	color: #d0d0d0;
	content: "\f10d";
	display: table;
	float: left;
	font-family: "FontAwesome";
	font-size: 28px;
	margin-top: 6px;
	font-weight: normal;
	width: 6%;
}
blockquote p {
	font-style: italic;
	width: 94%;
	display: table;
}
.margin-top-zero {
	margin-top: 0px;
}
.margin-bottom-zero {
	margin-bottom: 0px;
}
.margin-top-10 {
	margin-bottom: 10px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-top-80 {
	margin-top: 80px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-top-30 {
	padding-top: 30px;
}
.padding-top-50 {
	padding-top: 50px;
}
.padding-top-40 {
	padding-top: 40px;
}
.padding-top-60 {
	padding-top: 60px;
}
.padding-top-80 {
	padding-top: 80px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-bottom-20 {
	padding-bottom: 20px;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-bottom-40 {
	padding-bottom: 40px;
}
.padding-bottom-50 {
	padding-bottom: 50px;
}
.padding-bottom-60 {
	padding-bottom: 60px;
}
.padding-bottom-80 {
	padding-bottom: 80px;
}
.padding-15 {
	padding: 15px;
}
.padding-20 {
	padding: 20px;
}
.padding-30 {
	padding: 30px;
}
.padding-40 {
	padding: 40px;
}
.padding-60 {
	padding: 60px;
}



/*---------------------------------------
	2.3.Alerts Styles           
-----------------------------------------*/
.ta-skills .progress {
	border-radius: 0 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ta-skills .progress .progress-bar {
	overflow: hidden;
	position: absolute;
	border-radius: 0 30px;
}
/*---------------------------------------
	2.4.Button Styles           
-----------------------------------------*/
.btn {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 30px;
	font-weight: bold;
	display: inline-block;
	transition: all 0.2s ease 0s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-family: 'Montserrat', sans-serif;
}
.btn-theme {
	border: none;
}
.btn-theme:hover, .btn-theme:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 50%;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 50%;
}
.pagination > li > a, .pagination > li > span {
	margin: 0 6px 10px;
	border-radius: 50%;
	border : none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	transition: all 0.3s ease 0s;
}
button.mfp-close:hover, button.mfp-close:focus {
	background: inherit;
}
/*---------------------------------------
	3.5.ta-portfolio       
-----------------------------------------*/
.ta-portfolio-box h4:hover, .ta-portfolio-box h4 a:hover {
    color: #b5aa87;
}
.ta-portfolio-box {
	border-style: solid;
	border-width: 0 0 4px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	position: relative;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
	border-radius: 0 1px 2px 0 rgba(0,0,0,0.20);
}
.ta-portfolio-box:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-8px);
    transition: all 0.3s ease 0s;
    border-color: #b5aa87;
}
.ta-portfolio-box figure {
	border-width: 0 0 1px 0;
	border-style: solid;
	position: relative;
}
.ta-portfolio-box figure img {
	min-height: 175px;
}
.ta-portfolio-box .overlay {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.4s ease-in-out 0s;
	width: 100%;
	bottom: 0;
	display: inline-block;
}
.ta-portfolio-box:hover .overlay {
	opacity: 1;
}
.ta-portfolio-box .overlay .btn {
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	margin-right: 5px;
	padding: 5px 14px;
	display: inline-block;
	top: 50%;
	box-shadow: 0 1px 17px -4px rgba(0, 0, 0, 0.26);
}
.ta-portfolio-box .overlay .btn:focus {
	outline: medium none;
}
.ta-portfolio-box h4, .ta-portfolio-box h4 a {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 20px;
	padding-top: 8px;
}
.ta-portfolio-category a {
	display: inline-block;
	line-height: 16px;
	padding-right: 5px;
}
#portfolio .owl-controls .owl-buttons {
	transition: all 0.3s ease 0s;
}
#portfolio .owl-controls .owl-buttons div {
	margin: 5px;
	font-size: 16px;
	opacity: 0.8;
	display: inline-block;
	opacity: 0;
	transition: all 0.4s ease 0s;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#portfolio .owl-controls .owl-buttons div i {
}
#portfolio:hover .owl-controls .owl-buttons div {
	opacity: 1;
}
#portfolio .owl-controls .owl-buttons div.owl-prev {
	position: absolute;
	left: 20px;
	top: 40%;
}
#portfolio .owl-controls .owl-buttons div.owl-next {
	position: absolute;
	right: 20px;
	top: 40%;
}
#portfolio .owl-controls .owl-buttons div.owl-prev {
	left: 20px;
}
#portfolio .owl-controls .owl-buttons div.owl-next {
	right: 20px;
}
#portfolio .owl-pagination {
	padding-bottom: 10px;
	text-align: center;
}
#portfolio .owl-page {
	border-radius: 50%;
	display: inline-block;
	height: 5px;
	margin: 2px;
	width: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#portfolio .owl-page.active {
    height: 8px;
    width: 8px;
    background: #b5aa87;
}
.simplefilter li {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	padding: 5px 35px;
	transition: all 0.4s ease-in-out 0s;
	cursor: pointer;
	margin: 0;
	border-radius: 30px;
}
/*---------------------------------------
	3.16.ta-contact-section      
-----------------------------------------*/
/*==================== portfolio ====================*/
.ta-portfolio-box .overlay {
	background: rgba(0, 0, 0, 0.6);
}
.ta-portfolio-box {
	background: #fff;
	border-color: #e6e9ed;
}
.ta-portfolio-box:hover {
	border-color: #e2410a;
}
.ta-portfolio-box figure {
	border-color: #cccccc;
}
.ta-portfolio-box:hover .ta-portfolio-box-caption {
	background: rgba(0,12,28,0.8);
}
.ta-portfolio-box h4, .ta-portfolio-box h4 a {
	color: #212121;
}
.ta-portfolio-box h4:hover, .ta-portfolio-box h4 a:hover {
	color: #e2410a;
}
.ta-portfolio-category a {
	color: #b6b6b6;
}
.ta-portfolio-category a:hover, .ta-portfolio-category a:focus {
	color: #e2410a;
}
.ta-portfolio-box .overlay .btn {
	background: #fff; 
	border-color: #fff;
	color: #14112c;
}
.ta-portfolio-box .overlay .btn:hover, .ta-portfolio-box .overlay .btn:focus {
	background: #14112c;
	border-color: #14112c;
	color: #fff;
}
#portfolio .owl-controls .owl-buttons div {
	background: #fff;
	border-color: #fff;
	color: #14112c;
}
#portfolio .owl-controls .owl-buttons div:hover {
	background: #e2410a;
	border-color: #e2410a;
	color: #fff;
}
#portfolio .owl-controls .owl-page span {
	border-color: #e2410a;
}
#portfolio .owl-page.active {
	background: #e2410a;
}
#portfolio .owl-page {
	background: rgba(0,0,0,0.6);
}
.ta-view-detail-slider .owl-controls .owl-buttons div {
	background: #fff;
	border-color: #fff;
	color: #212121;
}
.ta-view-detail-slider .owl-controls .owl-buttons div:hover {
	background: #e2410a;
	border-color: #e2410a;
	color: #fff;
}
.ta-view-detail-slider .owl-page {
	background: #fff;
}
.ta-view-detail-slider .owl-page.active {
	background: #e2410a;
}
.simplefilter li.active {
	background: #e2410a;
	color: #fff;
}
.simplefilter li:hover, .simplefilter li:focus {
	background: #e2410a;
	color: #fff;
}
