	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/08/2017 00:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-transfer:before { content: "\f100"; }
.flaticon-flechas:before { content: "\f101"; }
.flaticon-paypal:before { content: "\f102"; }
.flaticon-american-express:before { content: "\f103"; }
.flaticon-mastercard:before { content: "\f104"; }
.flaticon-visa:before { content: "\f105"; }
.flaticon-logo-visa:before { content: "\f106"; }
.flaticon-cafeteria:before { content: "\f107"; }
.flaticon-taza-cafe:before { content: "\f108"; }
.flaticon-conexion:before { content: "\f109"; }
.flaticon-enchufe:before { content: "\f10a"; }
.flaticon-juego:before { content: "\f10b"; }
.flaticon-sanitarios:before { content: "\f10c"; }
.flaticon-pantalla:before { content: "\f10d"; }
.flaticon-pantalla-plana:before { content: "\f10e"; }
.flaticon-pelicula:before { content: "\f10f"; }
.flaticon-pelicula-autobus:before { content: "\f110"; }
.flaticon-musica:before { content: "\f111"; }
.flaticon-retrete:before { content: "\f112"; }
.flaticon-asiento:before { content: "\f113"; }
.flaticon-asiento-autobus:before { content: "\f114"; }
.flaticon-asiento-camion:before { content: "\f115"; }
.flaticon-wifi:before { content: "\f116"; }
.flaticon-seguridad:before { content: "\f117"; }
.flaticon-domicilio:before { content: "\f118"; }
.flaticon-venta:before { content: "\f119"; }
.flaticon-punto-de-venta:before { content: "\f11a"; }
.flaticon-venta-boletos:before { content: "\f11b"; }
.flaticon-taquilla:before { content: "\f11c"; }
.flaticon-negocio:before { content: "\f11d"; }
.flaticon-calendario:before { content: "\f11e"; }
.flaticon-calendario-tiempo:before { content: "\f11f"; }
.flaticon-central:before { content: "\f120"; }
.flaticon-central-camiones:before { content: "\f121"; }
.flaticon-autobus:before { content: "\f122"; }
.flaticon-dinero:before { content: "\f123"; }
.flaticon-pesos:before { content: "\f124"; }
.flaticon-pago:before { content: "\f125"; }
.flaticon-paqueteria:before { content: "\f126"; }
.flaticon-operador:before { content: "\f127"; }
.flaticon-reloj:before { content: "\f128"; }
.flaticon-correo:before { content: "\f129"; }
.flaticon-promociones:before { content: "\f12a"; }
.flaticon-maleta:before { content: "\f12b"; }
.flaticon-servicios:before { content: "\f12c"; }
.flaticon-casa:before { content: "\f12d"; }
.flaticon-ubicacion:before { content: "\f12e"; }
.flaticon-telefono:before { content: "\f12f"; }
.flaticon-boleto:before { content: "\f130"; }
.flaticon-factura:before { content: "\f131"; }